/* 彻底清除浏览器默认边距，让页面100%填满屏幕 */
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

/* 所有的元素都包含边框在内计算宽高 */
*, *::before, *::after {
  box-sizing: inherit;
}

/* Element Plus 暗黑模式下的全局背景色 */
html.dark {
  background-color: #141414;
  color: #E5EAF3;
}